<h4 style="text-align: center;">CLIENTE</h4>
<ul class="list-group">
    <li class="list-group-item">
        <strong> CEDULA: </strong>{{customer.id}}
    </li>
    <li class="list-group-item">
        <strong> NOMBRE: </strong>{{customer.name}} {{customer.surname}}
    </li>
    <li class="list-group-item">
        <strong> DIRECCION:</strong> {{customer.addres.city}} -
        {{customer.addres.principalStreet}}-
        {{customer.addres.secondaryStreet}}- {{customer.addres.code}}
    </li>
</ul>